@charset "utf-8";
@media (min-width: 768px) {
	/*---------- GLOBAL CLASSES ----------*/
		/* html */
			body { background:#F8F8F8; }
	/*---------- GLOBAL CLASSES ----------*/
	
	
	
	/*---------- HEADER ----------*/
		.header-logo {
			width: auto;
			text-align: left;
		}
		.header-company {
			width: auto;
			text-align: left;
			margin: 10px 0 0; padding: 0;
		}
		.header .nav {
			margin-top: 50px;
			text-align: left;
		}
	/*---------- HEADER ----------*/
	
	
	
	/*---------- BODY ----------*/
		.page-nav {
			position: absolute;
			width: 250px;
			background: #F8F8F8;
		}
		.page-content {
			min-height: 1300px;
			border-left: 1px solid #E7E7E7;
			margin-left: 250px; padding: 30px;
			background: #FFF;
		}
	/*---------- BODY ----------*/
}