<script type="text/ng-template" id="dependente.html">
    <div class="modal-header">
        <h3 class="modal-title">Dependente</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input type="text" class="form-control" ng-model="dependente.nome"/>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="tipo">Tipo</label>
                <select id="tipo" ng-model="dependente.tipo" class="form-control">
                    <option value="0">Nenhum</option>
                    <option value="1">Imposto de Renda</option>
                    <option value="2">Salário Família</option>
                    <option value="3">Imposto de Renda e Salário Família</option>
                    <option value="4">Salário Família Vitalício</option>
                    <option value="5">Imposto de Renda e Salário Família Vitalício</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="parentesco">Parentesco</label>
                <select id="parentesco" ng-model="dependente.parentesco" class="form-control">
                    <option value="0">Não Informado</option>
                    <option value="1">Cônjuge/Companheiro(a)</option>
                    <option value="2">Filho(a)</option>
                    <option value="3">Enteado(a)</option>
                    <option value="4">Pai/Mãe</option>
                    <option value="5">Agregado/Outros</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label for="sexo">Sexo</label>
                <select id="parentesco" ng-model="dependente.sexo" class="form-control">
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="nascimento">Nascimento</label>
                <input type="text" ng-model="dependente.nascimento"  class="form-control"/>
            </div>
            <div class="form-group col-md-4">
                <label for="cpf">CPF</label>
                <input type="text" ng-model="dependente.cpf" class="form-control" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
    </div>
</script>