<div class="row">
    <div class="form-group col-md-4">
        <label for="tipo">Tipo</label>
        <select id="tipo" class="form-control" ng-model="tipo">
            <option value="0">Solicitação</option>
            <option value="1">Tarefa</option>
        </select>
    </div>

    <div class="form-group col-md-4">
        <label for="prioridade">Prioridade</label>
        <select id="prioridade" ng-options="prioridade" class="form-control">
            <option value="0">Baixa</option>
            <option value="1">Média</option>
            <option value="2">Alta</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="assunto">Assunto</label>
        <select ng-options="assunto.descricao for assunto in assuntos" ng-model="assunto" class="form-control"></select>
    </div>
</div>   
<div class="row">
    <div class="form-group col-md-4">
        <label for="tipo">Recurso</label>
        <input type="text" class="form-control" ng-model="recurso" />
    </div>
</div>  